if theme.google_analytics.enable
    // Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=" + theme.google_analytics.code)
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-BLKG2GLF9E');
