script(src='https://unpkg.com/@barba/core')
script.
    var scrollTimer = null;
    var progressTimer = null;
    var loadingBar = document.querySelector(".loading-bar");
    var progress = document.querySelector(".loading-bar .progress");

    var linkClicked = ()=>{
        var loadingBarWidth = 20;
        var MAX_LOADING_WIDTH = 95;

        loadingBar.classList.add("loading");
        progress.style.width = loadingBarWidth + "%";

        clearInterval(progressTimer);

        progressTimer = setInterval(()=> {
            loadingBarWidth += 5;
            if (loadingBarWidth > MAX_LOADING_WIDTH) {
            loadingBarWidth = MAX_LOADING_WIDTH;
            }
            progress.style.width = loadingBarWidth + "%";
        }, 500);
    }

    //barba.Dispatcher.on('transitionCompleted',()=>{
    var transitionCompleted = ()=>{
        clearInterval(progressTimer);

        progress.style.width = "100%";
        loadingBar.classList.remove("loading");

        setTimeout(()=> {
            progress.style.width = 0;
        }, 400);

        clearInterval(scrollTimer);
        scrollTimer = setInterval(function () {
            var top = document.body.scrollTop || document.documentElement.scrollTop;
            var speed = top / 4;
            if (document.body.scrollTop!=0) {
                document.body.scrollTop -= speed;
            }else {
                document.documentElement.scrollTop -= speed;
            }
            if (top == 0) {
                clearInterval(scrollTimer);
            }
        }, 30); 
    }

    document.addEventListener('DOMContentLoaded', function() {
        barba.init({
            transitions: [{
                name: 'page',
                leave() {
                    linkClicked();
                // create your stunning leave animation here
                },
                enter() {
                    setTimeout(()=>transitionCompleted(),100);
                // create your amazing enter animation here
                }
            }],
            prefetchIgnore: true,
        });
    });
    
script.
    barba.hooks.enter((data) => {
        pjax_minivaline();
    });

    function pjax_minivaline() {
        if(!document.querySelectorAll("#vcomment")[0])return;
        new MiniValine({
            el: '#vcomment',
            backend: 'waline',
            serverURLs: "#{config.valine.serverURLs}",
            placeholder: "#{config.valine.placeHolder}",
            visitor: #{config.valine.visitor},
            pathname: location.pathname,
            enableFlag: true,
            enableUA: true,
            master: [],
            friends: [],
            tagMeta: ["博主", "朋友", "访客"],
        });
    };

    (function () {
        setTimeout(function() {
            var HEAD = document.getElementsByTagName('head')[0] || document.documentElement;
            var src = 'https://cdn.jsdelivr.net/npm/minivaline@latest/dist/MiniValine.min.js'
            var script = document.createElement('script')
            script.setAttribute('type','text/javascript')
            script.onload = function() {
               pjax_minivaline()
            }
            script.setAttribute('src', src)
            HEAD.appendChild(script)
        }, 1);
        console.log("vcomment")
    })();
    
script(src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw")